<div class="card-header">
  <h3>Forgot your password?</h3>
</div>
<div class="card-body">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <div>
      <%= devise_error_messages! %>
    </div>
    
    <div class="field mb-2">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
    </div>
  
    <div class="actions">
      <%= f.submit "Reset", class: "btn btn-success" %>
    </div>
  <% end %>
  
  <%= render "devise/shared/links" %>
</div>
<% parent_layout 'form' %>
